h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding-top: 10%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding: 50px;
}

